main {
	background-color: var(--fundifyWhite);
	text-align: center;
	padding: 40px;
}


.icon {
	width: 5%;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.enter {
	padding-bottom: 50px;
	font-size: 20px;
	font-weight: 500;
	font-family: var(--fontFamilysmall);
	color: var(--fundifyBlack);
	margin: auto;
}

.gold-balls div {
	margin: auto 15px auto;
	display: inline-block;
	padding: 0px 5px;
	width: 5px;
	height: 10px;
	background-color: var(--fundifyGold);
	border-radius: 50px;
}

.gold-balls div.black {
	background-color: var(--fundifyBlack);
}

.numbers {
	margin-top: 80px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	text-align: center;
	align-items: center;
	justify-items: center;
	font-family: var(--fontFamilysmall);
	cursor: pointer;
}

.numbers p,
.numbers img,
.numbers span {
	font-size: 32px; /* Adjust as needed */
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--fundifyBlack);
	font-weight: 500;
}

.numbers span {
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	font-family: var(--fontFamilysmall);
}

.confirm-password-btn {
	margin-top: 60px;
	width: 100%;
	padding: 16px;
	border: none;
	border-radius: 8px;
	font-family: var(--fontFamilysmall);
	font-size: 16px;
	font-weight: 600;
	background-color: var(--fundifyBlack);
	margin-bottom: 10px;
}

.confirm-password-btn a {
	color: var(--fundifyWhite);
	text-decoration: none;
}

.button-span {
	font-size: 20px;
	font-weight: 500;
	font-family: var(--fontFamilysmall);
	color: rgb(201, 2, 2);
	font-style: italic;
	display: none;
}

.forget-btn {
	margin-top: 10px;
	width: 100%;
	padding: 15px;
	border: none;
	border-radius: 8px;
	font-family: var(--fontFamilysmall);
	font-size: 16px;
	font-weight: 500;
	background-color: transparent;
}

.forget-btn a {
	color: var(--fundifyBlack);
	text-decoration: none;
}

@media (min-width: 600) {
	main {
		width: 50%;
		margin: auto;
	}

	.icon {
		width: 5%;
	}

	.password-body {
		width: 50%;
		margin: auto;
	}
}

@media (min-width: 1000px) {
	main {
		width: 70%;
		margin: auto;
	}

	.icon {
		width: 5%;
	}

	.password-body {
		width: 50%;
		margin: auto;
	}
}

@media (min-width: 1050px) {
	main {
		width: 60%;
		margin: auto;
	}

	.icon {
		width: 10%;
	}

	.confirm-password-btn {
		width: 75%;
	}
}
